  <%= form_for @pins do |f| %>

    <% if !@errors.nil? %>
      <div class="error">
        <label><%= pluralize(@errors.count, "error") %> prohibited this pin from being save:</label>
        <ul>
          <% @errors.full_messages.each do |msg| %>
            <li><%= "#{msg}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="pin_title">Title</label>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <label for="pin_image">Image</label>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <label for="pin_category_id">Category</label>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>

    <div class="form-group">
    <label for="pin_url">url</label>
    <%= f.text_field :url %>
    </div>

    <div class="form-group">
    <label for="pin_slug">slug</label>
    <%= f.text_field :slug %>
    </div>

     <div id="description" class="form-group">
    <label for="pin_text">Description</label>
    <%= f.text_area :text %>
    </div>

    <div id="button_edit">
      <%= f.submit %>
    </div>

  <% end %>